@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s linear;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-inline: auto;
    width: max-content;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 0 1em rgba(0,0,0, .1);
    padding: 1em;
}

main img{
    height: 300px;
    width: auto;
    object-fit: cover;
    border-radius: 7px;
    filter: grayscale(0%);
}

main img:hover{
    scale: 1.01;
    filter: grayscale(100%);
}

main h1{
    color: #111;
}

main .details{
    flex-direction: column;
    display: flex;
    place-items: flex-start;
    gap: .5em;
}

main .details p{
    font-weight: bold;
    padding: .3em;
    border-radius: 3px;
    background-color: #fff;
}

@media (max-width: 600px){
    main{
        width: 90dvw;
        flex-direction: column;
    }

    main img{
        width: 100%;
    }
}